<form class="users-search-form" onsubmit={{action 'onSearch'}}>
  <input type="text" class="search-input" placeholder="Search for Github user or organization"  />
  <button type="submit" class="search-btn">{{fa-icon 'search'}}Search</button>
</form>
{{yield}}
