<section class="users">
  <header>
    <div class="img-container">
      <img src={{model.user.avatar_url}} alt="user image" />
    </div>
     <h1>{{model.user.login}}</h1>
  </header>
  <ul>
    <h3>Repos</h3>
    {{#each model.repos as | repo |}}
      <li>{{repo.name}}</li>
    {{/each}}
  </ul>
</section>
{{outlet}}
